extends layout

block content
  div.jumbotron
    h1= title
    if user
      p Welcome #{user}
  if success
    div.alert.alert-success.alert-dismissable.fade.show(role=alert) Save Successful
      button.close(type='button' data-dismiss='alert')
        span &times;

  div.card
    div.card-header
      if user
        span #{user}
      else
        span Welcome
    div.card-body
      if user

      else
        a.btn.btn-primary.btn-large(href=signInUrl) Sign In
    div.card-footer
